@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}


.main-container {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "content"
    "footer";
}


.header {
    grid-area: "header";
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    grid-area: "content";
}

.footer {
    grid-area: "footer";
}

.card {

}

dialog {
    padding: 10px;
    margin: auto auto;
}

table {
    border:1px solid black;
    flex: 1;
}

#table {
    width: 100%;
    display: flex;
}

td {
    text-align: center;
}

